body{
    margin: 0;
    background-color: #0b2447;
    color: white;
}
span{color:#a5d7e8;}
/* NAV */
.navbar{
    padding: 10px 20px 0 10px;
}
.nav-link{
    color: #a5d7e8;
}
.logo{
    height: 60px;
    width: 80px;
}
.navbar-toggler{
    background-color: #a5d7e8;
}
/* NAV ENDS */

/* HEADER */
#header{
    padding: 20px;
    margin: 40px 0 0 20px;
}
.btn{
    color:#a5d7e8;
    background-color: #0b2447;
    margin-bottom: 80px;
    border: 2px solid #a5d7e8;
}
.btn:hover{
    color: #0b2447;
    background-color: #a5d7e8;
}
.container-fluid{
  padding-top: 40px;
  margin-top: 20px;
}
.img{
    margin-left: 0%;
}

/* HEADER ENDS */

/* projects */
#projects{
    padding: 10px;
}
.one1{
    margin-bottom: 20px;
}
.project-row{
    margin: 0%;
}
/* projects ENDS */


/* MEDIA Q */
@media(max-width :900px) {
    #header h1{
        font-size: 2rem;
    }
    .work{ height: 200%;
    }
    
    .img1{
        height: 200px;
        width: 200px;
        border-radius: 100%;
    }
    .btn{
        margin-bottom: 40px;
    }
    body{
        text-align: center;
        font-size: 14px;
    }
    #header{
        padding-top: 0;
        margin-bottom: 100px;
    margin-left: 0;}
    #mystory{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .logo{
        height: 50px;
        width: 60px;
    }
    .one{
        padding: 0;
    }
    }



@media (min-width:900px) {
    #header h1{
        font-size: 3rem;
    }
    .text{
        margin-bottom: 30px;
    }
    .con2{
        padding-left: 60px;
    }
    #mystory{
        margin-top: 100px;
        margin-bottom: 150px;
    }
    .img1{
        height: 400px;
        width: 400px;
        border-radius: 100%;
    }
}
/* MEDIA Q ENDS */