body{
    margin: 0;
    background-color: #0b2447;
    color: white;
}
span{color:#a5d7e8;}
/* NAV */
.navbar{
    padding: 10px 20px 0 10px;
}
.nav-link{
    color: #a5d7e8;
}
.logo{
    height: 60px;
    width: 80px;
}
.navbar-toggler{
    background-color: #a5d7e8;
}
.card{
    background-color: #0b2447;
    height: auto;
}
.btn{
    color:#a5d7e8;
    background-color: #0b2447;
    margin-top: 5px;
    border: 2px solid #a5d7e8;
}
/* NAV ENDS */

/* HEADER */
#header, #education{
    padding: 20px;
    margin: 40px 0 0 20px;
}
.cardbtn{
    margin-bottom: 80px;
}
.btn:hover{
    color: #0b2447;
    background-color: #a5d7e8;
}
.container-fluid{
  padding-top: 40px;
  margin-top: 20px;
}
.img{
    margin-left: 0%;
}

/* HEADER ENDS */

/* projects */
#projects{
    padding: 10px;
}
.one1{
    margin-bottom: 20px;
}
.project-row{
    margin: 0%;
}
/* projects ENDS */

/* EDUCATION */
#education{
    text-align: center;
    margin-bottom: 150px;
}
#education .card{
    box-shadow: 3px 2px 3px 2px #00000050;
    padding-top: 30px;
}
/* EDUCATION ENDS */


/* contact */
#contact{
    text-align: center;
    margin-bottom: 100px;
}


#contact .btn{
    width: 50%;
    margin-top: 30px;
}
/* CONTACT ENDS */


/* FOOTER */
.icon{
    margin-right: 20px;
}
.footer-container{
text-align: center;
padding-bottom: 30px;
}
/* FOOTER ENDS */



/* MEDIA Q */
@media(max-width :900px) {
    #header #education h1{
        font-size: 2rem;
    }
    .work{ height: 200px;
    }

    #education .card{
        margin-bottom: 20px;
    }
    .img1{
        height: 300px;
        width: 300px;
        border-radius: 100%;
        margin-bottom: 20px;
    }
    .btn{
        margin-bottom: 40px;
    }
    body{
        text-align: center;
        font-size: 14px;
    }
    #education{
        margin-bottom: 100px;   
    }
    
    #header{
        padding-top: 0;
        margin-bottom: 100px;
    margin-left: 0;}
    #mystory{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .logo{
        height: 50px;
        width: 60px;
    }
    .one{
        padding: 0;
    }
    }



@media (min-width:900px) {
    #header h1{
        font-size: 3rem;
    }
    .text{
        margin-bottom: 30px;
    }
    .con2{
        padding-left: 60px;
    }
    #education .card{
        margin-right: auto;
        margin-top: 10px;
    }
    #mystory{
        margin-top: 100px;
        margin-bottom: 150px;
    }
    .img1{
        height: 400px;
        width: 400px;
        border-radius: 100%;
        margin-bottom: 10px;
    }
    
    #contact .btn{
      margin-bottom: 15px;  
    }
}
/* MEDIA Q ENDS */